/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.clj-kondo
/.lsp
.calva
.idea
secret.edn
*.iml
.env

# Added by cargo
#
# already existing elements were commented out

#/target
