; {server-id {
; 	role-id {
; 		:names ["a" "b" "c"] 
; 		:comments ["comment"]}}}
{
    "609603874474426372" {
                          "1087888852280164372" 
                          {
                              :names [
                                      "quake",
                                      "diabotical"]
                               :comments ["Test"]}},
    "140856338564513792" {
                          "955512982912249927" 
                          {
                              :names [
                                      "quake",
                                      "diabotical"]}},
    "1013632559458046003" {
                           "1077327783459553340" 
                           {
                               :names [
                                       "quake",
                                       "diabotical"]}},
    "199524231963344896" {
                          "953740617584898138" 
                          {
                              :names [
                                      "quake"]},
                          "953740335551492186"
                          {
                              :names [
                                      "akane",
                                      "Alone"]},
                          "953991784818679878" {
                                                :comments ["anything else"]}},
    "496471206653067274" {
                          "770345730531262475" 
                          {
                              :names [
                                      "guilty gear",
                                      "devil daggers",
                                      "tekken",
                                      "street fighter",
                                      "dnf duel",
                                      "skullgirls",
                                      "samurai",
                                      "granblue",
                                      "rivals of aether",
                                      "vs.",
                                      "versus",
                                      "blazblue",
                                      "kombat",
                                      "combat",
                                      "calibur",
                                      "melty",
                                      "under night",
                                      "brawlhalla",
                                      "uniel",
                                      "arcana",
                                      "fight",
                                      "killer instinct",
                                      "for honor",
                                      "Toribash"]}, 
                          "869046494882304040" {
                                                :comments ["Anything else"]}}}
        
    
