; {
;   server-id {
;     :server-name "server name"
;     :roles-rules {
;       role-id {
;         :type :named-activity/:else
;         :activity-names ["a" "b" "c"] 
;         :role-name "role name"
;         :comment "comment"
;       }
;     }
;   }
;  }
; 

{"1104894380080365710"
 {:roles-rules
  {"1125053038474825908"
   {:activity-names ["akane"], :type :named-activity}}},
 "609603874474426372"
 {:roles-rules
  {"1087888852280164372"
   {:comments ["SUCK"],
    :activity-names ["quake" "diabotical"],
    :type :named-activity}}},
 "140856338564513792"
 {:roles-rules
  {"955512982912249927"
   {:activity-names ["quake" "diabotical"], :type :named-activity}}},
 "1013632559458046003"
 {:roles-rules
  {"1077327783459553340"
   {:activity-names ["quake" "diabotical"], :type :named-activity}}},
 "199524231963344896"
 {:roles-rules
  {"953740617584898138"
   {:activity-names ["quake"], :type :named-activity},
   "953740335551492186"
   {:activity-names ["akane" "alone"], :type :named-activity},
   "953991784818679878"
   {:comments ["anything else"], :activity-names [], :type :else}}},
 "496471206653067274"
 {:roles-rules
  {"770345730531262475"
   {:activity-names
    ["guilty gear"
     "devil daggers"
     "tekken"
     "street fighter"
     "dnf duel"
     "skullgirls"
     "samurai"
     "granblue"
     "rivals of aether"
     "vs."
     "versus"
     "blazblue"
     "kombat"
     "combat"
     "calibur"
     "melty"
     "under night"
     "brawlhalla"
     "uniel"
     "arcana"
     "fight"
     "killer instinct"
     "for honor"
     "toribash"],
    :type :named-activity},
   "869046494882304040"
   {:comments ["Anything else"], :activity-names [], :type :else}}}}
