; {
;   server-id {
;     :server-name "server name"
;     :roles-rules {
;       role-id {
;         :type :named-activity/:else
;         :activity-names ["a" "b" "c"] 
;         :role-name "role name"
;         :comment "comment"
;       }
;     }
;   }
;  }
; 

{"1104894380080365710"
 {:roles-rules
  {"1125053038474825908"
   {:activity-names #{"akane" "mountain"},
    :type :named-activity,
    :name "Named"},
   "1104894661350408274"
   {:comments ["anything else"],
    :activity-names #{},
    :type :else,
    :name "purple"}},
  :name "Bots boots & boobs"},
 "609603874474426372"
 {:roles-rules
  {"1087888852280164372"
   {:comments ["SUCK"],
    :activity-names #{"diabotical" "quake"},
    :type :named-activity,
    :name "Currently Quaking"}},
  :name "Church of Quake"},
 "140856338564513792"
 {:roles-rules
  {"955512982912249927"
   {:activity-names #{"diabotical" "quake"},
    :type :named-activity,
    :name "Currently Quaking"}},
  :name "Not so Elite MF"},
 "1013632559458046003"
 {:roles-rules
  {"1077327783459553340"
   {:activity-names #{"diabotical" "quake"},
    :type :named-activity,
    :name "Currently Quaking"}},
  :name "QC Tournaments"},
 "199524231963344896"
 {:roles-rules
  {"953740617584898138"
   {:activity-names #{"quake"},
    :type :named-activity,
    :name "Currently Quaking"},
   "953740335551492186"
   {:activity-names #{"alone" "akane"},
    :type :named-activity,
    :name "Fighting"},
   "953991784818679878"
   {:comments ["anything else"],
    :activity-names #{},
    :type :else,
    :name "Playing"}},
  :name "The Gang"},
 "496471206653067274"
 {:roles-rules
  {"770345730531262475"
   {:activity-names
    #{"blazblue"
      "skullgirls"
      "arcana"
      "guilty gear"
      "for honor"
      "vs."
      "dnf duel"
      "toribash"
      "calibur"
      "brawlhalla"
      "uniel"
      "street fighter"
      "devil daggers"
      "tekken"
      "under night"
      "granblue"
      "killer instinct"
      "kombat"
      "melty"
      "versus"
      "combat"
      "samurai"
      "rivals of aether"
      "fight"},
    :type :named-activity,
    :name "Currently Fighting"},
   "869046494882304040"
   {:comments ["Anything else"],
    :activity-names #{},
    :type :else,
    :name "Filthy Casuals"}},
  :name "FighterHubIL"}}
